body {
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #232323);
  min-height: 100vh;
  color: #eee;
}
h1,
h2,
h3,
h4,
h5 {
  color: #ffffff !important;
}

p,
span,
li {
  color: #cfcfcf !important;
}
